# 1) Answer the following questions based on the African food production dataset provided by the FAO website already provided

# What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

# Hint:

# Perform a groupby sum aggregation on ‘Item’

In [47]:
import pandas as pd

In [48]:
food_production = pd.read_csv("Production_Crops_Livestock_E_Africa_NOFLAG.csv", encoding=("ISO-8859-1"))
food

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,4,Algeria,221,"Almonds, with shell",5312,Area harvested,ha,13300.0,13300.0,13300.0,...,52245.0,49975.0,49011.0,39050.0,40403.0,49983.0,50100.0,35626.0,35380.0,34542.0
1,4,Algeria,221,"Almonds, with shell",5419,Yield,hg/ha,4511.0,4511.0,4511.0,...,9689.0,13304.0,12965.0,16601.0,18930.0,13223.0,12362.0,16059.0,20467.0,17611.0
2,4,Algeria,221,"Almonds, with shell",5510,Production,tonnes,6000.0,6000.0,6000.0,...,50621.0,66487.0,63545.0,64827.0,76482.0,66095.0,61934.0,57213.0,72412.0,60832.0
3,4,Algeria,515,Apples,5312,Area harvested,ha,3400.0,3100.0,2800.0,...,51080.0,48828.0,48064.0,40418.0,41011.0,46070.0,44620.0,33653.0,32989.0,33025.0
4,4,Algeria,515,Apples,5419,Yield,hg/ha,45294.0,45161.0,46429.0,...,79112.0,81414.0,94860.0,114507.0,110086.0,108716.0,110766.0,144952.0,169399.0,171635.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14495,181,Zimbabwe,1729,"Treenuts, Total",5419,Yield,hg/ha,NaN,NaN,NaN,...,12688.0,15200.0,17700.0,17381.0,16680.0,17803.0,18575.0,19451.0,20145.0,20832.0
14496,181,Zimbabwe,1729,"Treenuts, Total",5510,Production,tonnes,NaN,NaN,NaN,...,5075.0,6080.0,7080.0,6994.0,6849.0,6587.0,6490.0,6592.0,6690.0,7064.0
14497,181,Zimbabwe,1735,Vegetables Primary,5312,Area harvested,ha,12296.0,12644.0,12794.0,...,32539.0,31762.0,31836.0,32840.0,34067.0,33022.0,33423.0,33670.0,33483.0,33744.0
14498,181,Zimbabwe,1735,Vegetables Primary,5419,Yield,hg/ha,65324.0,65900.0,65963.0,...,60804.0,69403.0,69249.0,67480.0,66483.0,69724.0,67794.0,67805.0,68382.0,67711.0
14499,181,Zimbabwe,1735,Vegetables Primary,5510,Production,tonnes,80322.0,83324.0,84393.0,...,197851.0,220439.0,220462.0,221605.0,226489.0,230241.0,226588.0,228299.0,228963.0,228485.0

In [3]:
food.groupby(by='Item').agg({"Y2014": ['sum']})

                                       Y2014
                                         sum
Item
Almonds, with shell                 790092.0
Anise, badian, fennel, coriander    225170.0
Apples                             4285968.0
Apricots                           1245201.0
Areca nuts                             113.0
...                                      ...
Wine                               1238673.0
Wool, greasy                        197082.0
Yams                              74375773.0
Yautia (cocoyam)                         0.0
Yoghurt                               1842.0

[275 rows x 1 columns]

In [4]:
food.groupby(by=["Item","Element"])["Y2014"].sum()

Item                              Element
Almonds, with shell               Area harvested      460458.0
                                  Production          272032.0
                                  Yield                57602.0
Anise, badian, fennel, coriander  Area harvested       78116.0
                                  Production           71809.0
                                                       ...
Yams                              Production        64925602.0
                                  Yield              2033628.0
Yautia (cocoyam)                  Area harvested           0.0
                                  Production               0.0
Yoghurt                           Production            1842.0
Name: Y2014, Length: 658, dtype: float64

In [5]:
food.groupby(by=["Item","Element"])["Y2017"].sum()

Item                              Element
Almonds, with shell               Area harvested      492886.0
                                  Production          284999.0
                                  Yield                54413.0
Anise, badian, fennel, coriander  Area harvested       80452.0
                                  Production           74692.0
                                                       ...
Yams                              Production        75760774.0
                                  Yield              2032710.0
Yautia (cocoyam)                  Area harvested           0.0
                                  Production               0.0
Yoghurt                           Production            2199.0
Name: Y2017, Length: 658, dtype: float64

In [6]:
#Grouping and perform count over each group

African_food_production = food.groupby(['Y2014','Y2017'],as_index=False).sum()
African_food_production

,Y2014,Y2017,Area Code,Item Code,Element Code,Y1961,Y1962,Y1963,Y1964,Y1965,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2015,Y2016,Y2018,Y2019,Y2020
0,0.0,0.0,4953,19159,180468,37951.0,36699.0,6503.0,20005.0,24862.0,...,81.0,1.0,1.0,0.0,0.0,0.0,0.0,2122.0,997.0,1783.0
1,0.0,1.0,137,979,5510,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,6.0,143,281,5510,817.0,820.0,766.0,683.0,570.0,...,0.0,0.0,0.0,1.0,11.0,10.0,13.0,8.0,3.0,0.0
3,0.0,35.0,4,97,5510,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,151.0,240.0,62.0,269.0
4,0.0,210.0,4,97,5312,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,128.0,75.0,30.0,261.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11096,58445345.0,64040642.0,238,1749,5111,0.0,0.0,0.0,0.0,0.0,...,47940626.0,48295950.0,46834488.0,49549996.0,55511273.0,58597338.0,60898168.0,71984271.0,90396066.0,95378400.0
11097,70875000.0,72411000.0,276,1749,5111,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,70320000.0,70552000.0,71437000.0,72093000.0,72683000.0,72928000.0,73174255.0
11098,71958213.0,78038709.0,159,1016,5111,623000.0,758000.0,917000.0,1113000.0,1336000.0,...,55145440.0,56524076.0,67292536.0,68974848.0,70699218.0,72527691.0,76135326.0,80244703.0,82633730.0,83715241.0
11099,109660964.0,117366351.0,159,1720,5510,12198000.0,12801000.0,14013000.0,14788000.0,15975000.0,...,73247568.0,87311834.0,86929792.0,91146771.0,90759414.0,111695598.0,119275669.0,114179647.0,117702607.0,118327020.0
11100,113242235.0,122543129.0,159,1749,5111,1642000.0,1923000.0,2258000.0,2657000.0,3087000.0,...,89832704.0,92043836.0,105668560.0,108310272.0,111018027.0,114159849.0,119554273.0,125957674.0,129475731.0,131459048.0

In [7]:
African_food_production = food.groupby(['Y2014','Y2017'],as_index=False).sum()
African_food_production

,Y2014,Y2017,Area Code,Item Code,Element Code,Y1961,Y1962,Y1963,Y1964,Y1965,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2015,Y2016,Y2018,Y2019,Y2020
0,0.0,0.0,4953,19159,180468,37951.0,36699.0,6503.0,20005.0,24862.0,...,81.0,1.0,1.0,0.0,0.0,0.0,0.0,2122.0,997.0,1783.0
1,0.0,1.0,137,979,5510,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,6.0,143,281,5510,817.0,820.0,766.0,683.0,570.0,...,0.0,0.0,0.0,1.0,11.0,10.0,13.0,8.0,3.0,0.0
3,0.0,35.0,4,97,5510,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,151.0,240.0,62.0,269.0
4,0.0,210.0,4,97,5312,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,128.0,75.0,30.0,261.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11096,58445345.0,64040642.0,238,1749,5111,0.0,0.0,0.0,0.0,0.0,...,47940626.0,48295950.0,46834488.0,49549996.0,55511273.0,58597338.0,60898168.0,71984271.0,90396066.0,95378400.0
11097,70875000.0,72411000.0,276,1749,5111,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,70320000.0,70552000.0,71437000.0,72093000.0,72683000.0,72928000.0,73174255.0
11098,71958213.0,78038709.0,159,1016,5111,623000.0,758000.0,917000.0,1113000.0,1336000.0,...,55145440.0,56524076.0,67292536.0,68974848.0,70699218.0,72527691.0,76135326.0,80244703.0,82633730.0,83715241.0
11099,109660964.0,117366351.0,159,1720,5510,12198000.0,12801000.0,14013000.0,14788000.0,15975000.0,...,73247568.0,87311834.0,86929792.0,91146771.0,90759414.0,111695598.0,119275669.0,114179647.0,117702607.0,118327020.0
11100,113242235.0,122543129.0,159,1749,5111,1642000.0,1923000.0,2258000.0,2657000.0,3087000.0,...,89832704.0,92043836.0,105668560.0,108310272.0,111018027.0,114159849.0,119554273.0,125957674.0,129475731.0,131459048.0

In [8]:
#Producing Animals/Slaughtered
food.aggregate(['sum', 'min'])

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
sum,2044832,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,11649563,"Almonds, with shellAlmonds, with shellAlmonds,...",78404482,Area harvestedYieldProductionArea harvestedYie...,hahg/hatonneshahg/hatonneshahg/hatonneshahg/ha...,1.856864e+09,1.897736e+09,1.941325e+09,...,5.742440e+09,6.587288e+09,6.724997e+09,6.911114e+09,6.973652e+09,7.124149e+09,7.294397e+09,7.509113e+09,7.792038e+09,7.855313e+09
min,4,Algeria,15,"Almonds, with shell",5111,Area harvested,0.1g/An,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

# 2) What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [9]:
import statistics 
print("Mean of the sample is % s " %(statistics.mean(food["Y2015"])))

Mean of the sample is nan

In [10]:
print("Standard Deviation of the sample is % s "%(statistics.stdev(food["Y2015"])))

Standard Deviation of the sample is nan

In [11]:
food.round({"Y2015":3})

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,4,Algeria,221,"Almonds, with shell",5312,Area harvested,ha,13300.0,13300.0,13300.0,...,52245.0,49975.0,49011.0,39050.0,40403.0,49983.0,50100.0,35626.0,35380.0,34542.0
1,4,Algeria,221,"Almonds, with shell",5419,Yield,hg/ha,4511.0,4511.0,4511.0,...,9689.0,13304.0,12965.0,16601.0,18930.0,13223.0,12362.0,16059.0,20467.0,17611.0
2,4,Algeria,221,"Almonds, with shell",5510,Production,tonnes,6000.0,6000.0,6000.0,...,50621.0,66487.0,63545.0,64827.0,76482.0,66095.0,61934.0,57213.0,72412.0,60832.0
3,4,Algeria,515,Apples,5312,Area harvested,ha,3400.0,3100.0,2800.0,...,51080.0,48828.0,48064.0,40418.0,41011.0,46070.0,44620.0,33653.0,32989.0,33025.0
4,4,Algeria,515,Apples,5419,Yield,hg/ha,45294.0,45161.0,46429.0,...,79112.0,81414.0,94860.0,114507.0,110086.0,108716.0,110766.0,144952.0,169399.0,171635.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14495,181,Zimbabwe,1729,"Treenuts, Total",5419,Yield,hg/ha,NaN,NaN,NaN,...,12688.0,15200.0,17700.0,17381.0,16680.0,17803.0,18575.0,19451.0,20145.0,20832.0
14496,181,Zimbabwe,1729,"Treenuts, Total",5510,Production,tonnes,NaN,NaN,NaN,...,5075.0,6080.0,7080.0,6994.0,6849.0,6587.0,6490.0,6592.0,6690.0,7064.0
14497,181,Zimbabwe,1735,Vegetables Primary,5312,Area harvested,ha,12296.0,12644.0,12794.0,...,32539.0,31762.0,31836.0,32840.0,34067.0,33022.0,33423.0,33670.0,33483.0,33744.0
14498,181,Zimbabwe,1735,Vegetables Primary,5419,Yield,hg/ha,65324.0,65900.0,65963.0,...,60804.0,69403.0,69249.0,67480.0,66483.0,69724.0,67794.0,67805.0,68382.0,67711.0
14499,181,Zimbabwe,1735,Vegetables Primary,5510,Production,tonnes,80322.0,83324.0,84393.0,...,197851.0,220439.0,220462.0,221605.0,226489.0,230241.0,226588.0,228299.0,228963.0,228485.0

# 3) What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [12]:
decimal = food.round({"Y2016":2})
decimal

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,4,Algeria,221,"Almonds, with shell",5312,Area harvested,ha,13300.0,13300.0,13300.0,...,52245.0,49975.0,49011.0,39050.0,40403.0,49983.0,50100.0,35626.0,35380.0,34542.0
1,4,Algeria,221,"Almonds, with shell",5419,Yield,hg/ha,4511.0,4511.0,4511.0,...,9689.0,13304.0,12965.0,16601.0,18930.0,13223.0,12362.0,16059.0,20467.0,17611.0
2,4,Algeria,221,"Almonds, with shell",5510,Production,tonnes,6000.0,6000.0,6000.0,...,50621.0,66487.0,63545.0,64827.0,76482.0,66095.0,61934.0,57213.0,72412.0,60832.0
3,4,Algeria,515,Apples,5312,Area harvested,ha,3400.0,3100.0,2800.0,...,51080.0,48828.0,48064.0,40418.0,41011.0,46070.0,44620.0,33653.0,32989.0,33025.0
4,4,Algeria,515,Apples,5419,Yield,hg/ha,45294.0,45161.0,46429.0,...,79112.0,81414.0,94860.0,114507.0,110086.0,108716.0,110766.0,144952.0,169399.0,171635.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14495,181,Zimbabwe,1729,"Treenuts, Total",5419,Yield,hg/ha,NaN,NaN,NaN,...,12688.0,15200.0,17700.0,17381.0,16680.0,17803.0,18575.0,19451.0,20145.0,20832.0
14496,181,Zimbabwe,1729,"Treenuts, Total",5510,Production,tonnes,NaN,NaN,NaN,...,5075.0,6080.0,7080.0,6994.0,6849.0,6587.0,6490.0,6592.0,6690.0,7064.0
14497,181,Zimbabwe,1735,Vegetables Primary,5312,Area harvested,ha,12296.0,12644.0,12794.0,...,32539.0,31762.0,31836.0,32840.0,34067.0,33022.0,33423.0,33670.0,33483.0,33744.0
14498,181,Zimbabwe,1735,Vegetables Primary,5419,Yield,hg/ha,65324.0,65900.0,65963.0,...,60804.0,69403.0,69249.0,67480.0,66483.0,69724.0,67794.0,67805.0,68382.0,67711.0
14499,181,Zimbabwe,1735,Vegetables Primary,5510,Production,tonnes,80322.0,83324.0,84393.0,...,197851.0,220439.0,220462.0,221605.0,226489.0,230241.0,226588.0,228299.0,228963.0,228485.0

In [13]:
decimal["Y2016"].isnull().sum()

1355

In [14]:
percent_missing = decimal["Y2016"].isnull().sum() * 100 / len(decimal["Y2016"])
percent_missing

9.344827586206897

# 4) Which year had the highest correlation with ‘Element Code’?

In [15]:
# Create correlation matrix
corr_mat = food.corr(method='pearson')
  
# Convert correlation matrix to 1-D Series and sort
sorted_mat = corr_mat.unstack().sort_values()
  
print(sorted_mat)

Y1983         Element Code   -0.200932
Element Code  Y1983          -0.200932
              Y1980          -0.200857
Y1980         Element Code   -0.200857
Y1979         Element Code   -0.199309
                                ...
Y1993         Y1993           1.000000
Y1992         Y1992           1.000000
Y1991         Y1991           1.000000
Y1988         Y1988           1.000000
Y2020         Y2020           1.000000
Length: 3969, dtype: float64

In [16]:
import numpy as np
# Create correlation matrix
corr_mat = food.corr(method='pearson')
  
# Retain upper triangular values of correlation matrix and
# make Lower triangular values Null
upper_corr_mat = corr_mat.where(
    np.triu(np.ones(corr_mat.shape), k=1).astype(np.bool))
  
# Convert to 1-D series and drop Null values
unique_corr_pairs = upper_corr_mat.unstack().dropna()
  
# Sort correlation pairs
sorted_mat = unique_corr_pairs.sort_values()
print(sorted_mat)

Y1983  Element Code   -0.200932
Y1980  Element Code   -0.200857
Y1979  Element Code   -0.199309
Y1978  Element Code   -0.197521
Y1982  Element Code   -0.196268
                         ...
Y2004  Y2003           0.998531
Y2015  Y2014           0.998544
Y2020  Y2019           0.998552
Y1964  Y1963           0.998655
Y1963  Y1962           0.998763
Length: 1953, dtype: float64

# 5) What year has the highest sum of Import Quantity?

# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [17]:
import quantities as pq
food.groupby(by=["Element"],as_index=False)

In [18]:
pq.Quantity(food)

array([[4, 'Algeria', 221, ..., 35626.0, 35380.0, 34542.0],
       [4, 'Algeria', 221, ..., 16059.0, 20467.0, 17611.0],
       [4, 'Algeria', 221, ..., 57213.0, 72412.0, 60832.0],
       ...,
       [181, 'Zimbabwe', 1735, ..., 33670.0, 33483.0, 33744.0],
       [181, 'Zimbabwe', 1735, ..., 67805.0, 68382.0, 67711.0],
       [181, 'Zimbabwe', 1735, ..., 228299.0, 228963.0, 228485.0]],
      dtype=object) * dimensionless

# 6)What is the total number of the sum of Production in 2014?

# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [33]:
const = column.Element(word  =='Production').length
food[food['Element'] == 'Production'].sum()

NameError: name 'column' is not defined

In [38]:
food[food['Element'] == 'Production']

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
2,4,Algeria,221,"Almonds, with shell",5510,Production,tonnes,6000.0,6000.0,6000.0,...,50621.0,66487.0,63545.0,64827.0,76482.0,66095.0,61934.0,57213.0,72412.0,60832.0
5,4,Algeria,515,Apples,5510,Production,tonnes,15400.0,14000.0,13000.0,...,404105.0,397529.0,455937.0,462815.0,451472.0,500855.0,494239.0,487808.0,558830.0,566824.0
8,4,Algeria,526,Apricots,5510,Production,tonnes,12720.0,13800.0,12000.0,...,285897.0,269308.0,319784.0,216941.0,293486.0,256771.0,256890.0,242243.0,209204.0,187273.0
11,4,Algeria,366,Artichokes,5510,Production,tonnes,38000.0,37000.0,40000.0,...,46808.0,53657.0,83374.0,81106.0,91592.0,97524.0,108560.0,124659.0,119636.0,126762.0
15,4,Algeria,486,Bananas,5510,Production,tonnes,NaN,NaN,NaN,...,277.0,335.0,335.0,305.0,155.0,265.0,242.0,221.0,243.0,235.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14487,181,Zimbabwe,1807,Sheep and Goat Meat,5510,Production,tonnes,2271.0,2460.0,2674.0,...,22955.0,23875.0,24378.0,24892.0,22529.0,17776.0,24499.0,25537.0,25180.0,25535.0
14490,181,Zimbabwe,1809,"Skim Milk&Buttermilk,Dry",5510,Production,tonnes,522.0,533.0,533.0,...,1114.0,1130.0,1107.0,1119.0,1119.0,1088.0,1051.0,1062.0,1076.0,NaN
14493,181,Zimbabwe,1723,Sugar Crops Primary,5510,Production,tonnes,335384.0,605724.0,820363.0,...,3058000.0,3929056.0,3960000.0,3856000.0,3348000.0,3483000.0,3101000.0,3582994.0,3562000.0,3589936.0
14496,181,Zimbabwe,1729,"Treenuts, Total",5510,Production,tonnes,NaN,NaN,NaN,...,5075.0,6080.0,7080.0,6994.0,6849.0,6587.0,6490.0,6592.0,6690.0,7064.0
14499,181,Zimbabwe,1735,Vegetables Primary,5510,Production,tonnes,80322.0,83324.0,84393.0,...,197851.0,220439.0,220462.0,221605.0,226489.0,230241.0,226588.0,228299.0,228963.0,228485.0

In [37]:
food[food['Element'] == 'Production']["Y2014"]

2          64827.0
5         462815.0
8         216941.0
11         81106.0
15           305.0
           ...
14487      24892.0
14490       1119.0
14493    3856000.0
14496       6994.0
14499     221605.0
Name: Y2014, Length: 5478, dtype: float64

In [39]:
food[food['Element'] == 'Production']["Y2014"].sum()

1985218560.0

In [19]:
food.groupby(["Element","Y2014"],as_index=False).sum()

,Element,Y2014,Area Code,Item Code,Element Code,Y1961,Y1962,Y1963,Y1964,Y1965,...,Y2010,Y2011,Y2012,Y2013,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,Area harvested,0.0,700,1569,31872,23360.0,22760.0,3860.0,11760.0,14758.0,...,0.0,0.0,0.0,0.0,0.0,128.0,210.0,985.0,650.0,1016.0
1,Area harvested,1.0,333,989,10624,70.0,70.0,70.0,80.0,83.0,...,4.0,3.0,2.0,2.0,6.0,2.0,2.0,2.0,1.0,1.0
2,Area harvested,2.0,565,1934,15936,2010.0,2010.0,1010.0,1010.0,1142.0,...,8.0,7.0,7.0,6.0,7.0,6.0,7.0,7.0,6.0,6.0
3,Area harvested,3.0,196,497,5312,0.0,0.0,0.0,0.0,0.0,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,Area harvested,4.0,196,490,5312,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10146,Yield/Carcass Weight,50001.0,143,1080,5424,0.0,0.0,0.0,0.0,0.0,...,50000.0,50000.0,50000.0,50000.0,49998.0,49999.0,50000.0,51504.0,51529.0,51460.0
10147,Yield/Carcass Weight,60302.0,59,1080,5424,50000.0,50000.0,50000.0,50000.0,50000.0,...,56461.0,55796.0,59359.0,58608.0,62483.0,72326.0,64144.0,63413.0,112426.0,87835.0
10148,Yield/Carcass Weight,62193.0,222,1080,5424,0.0,0.0,0.0,0.0,0.0,...,61282.0,60000.0,61212.0,60762.0,62076.0,62837.0,68910.0,66422.0,67306.0,67365.0
10149,Yield/Carcass Weight,80030.0,202,1080,5424,80000.0,80000.0,80000.0,80000.0,80000.0,...,80000.0,80000.0,79970.0,80045.0,80029.0,80059.0,79943.0,79986.0,80000.0,81494.0
10150,Yield/Carcass Weight,497727.0,147,1089,5424,0.0,0.0,0.0,0.0,0.0,...,500000.0,500000.0,500000.0,501190.0,500455.0,497471.0,500667.0,498085.0,500619.0,500693.0

# 7) Which of these elements had the highest sum in 2018?

# Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [20]:
food.groupby(["Element"], sort=False)["Y2018"].sum()

Element
Area harvested                   6.031322e+08
Yield                            2.181504e+08
Production                       2.143150e+09
Stocks                           2.509967e+09
Prod Popultn                     0.000000e+00
Laying                           1.144976e+06
Producing Animals/Slaughtered    1.540464e+09
Yield/Carcass Weight             2.911001e+06
Milk Animals                     4.901934e+08
Name: Y2018, dtype: float64

In [21]:
food.groupby(["Element"], sort=False)["Y2018"].max()

Element
Area harvested                    20514521.0
Yield                              1150169.0
Production                       114179647.0
Stocks                           125957674.0
Prod Popultn                             NaN
Laying                              131586.0
Producing Animals/Slaughtered     44983402.0
Yield/Carcass Weight                498085.0
Milk Animals                      50783000.0
Name: Y2018, dtype: float64

In [22]:
food.groupby(["Element"], sort=False)["Y2018"].sum().max()

2509966755.0

In [23]:
food.groupby(["Element","Y2018"],as_index=False).sum()

,Element,Y2018,Area Code,Item Code,Element Code,Y1961,Y1962,Y1963,Y1964,Y1965,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2019,Y2020
0,Area harvested,0.0,599,1785,26560,23480.0,22950.0,4150.0,12230.0,15178.0,...,25.0,321.0,340.0,420.0,364.0,308.0,0.0,0.0,0.0,0.0
1,Area harvested,1.0,333,989,10624,70.0,70.0,70.0,80.0,83.0,...,4.0,3.0,2.0,2.0,2.0,6.0,2.0,2.0,1.0,1.0
2,Area harvested,2.0,552,1907,15936,2010.0,2010.0,1010.0,1010.0,1142.0,...,5.0,4.0,4.0,4.0,4.0,4.0,4.0,254.0,29.0,123.0
3,Area harvested,3.0,646,2160,21248,0.0,0.0,0.0,0.0,0.0,...,69.0,71.0,30.0,30.0,36.0,34.0,32.0,21.0,47.0,92.0
4,Area harvested,4.0,231,883,10624,0.0,0.0,0.0,0.0,0.0,...,19.0,7.0,15.0,14.0,12.0,12.0,13.0,13.0,9.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10352,Yield/Carcass Weight,51504.0,143,1080,5424,0.0,0.0,0.0,0.0,0.0,...,50000.0,50000.0,50000.0,50000.0,50001.0,49998.0,49999.0,50000.0,51529.0,51460.0
10353,Yield/Carcass Weight,63413.0,59,1080,5424,50000.0,50000.0,50000.0,50000.0,50000.0,...,56461.0,55796.0,59359.0,58608.0,60302.0,62483.0,72326.0,64144.0,112426.0,87835.0
10354,Yield/Carcass Weight,66422.0,222,1080,5424,0.0,0.0,0.0,0.0,0.0,...,61282.0,60000.0,61212.0,60762.0,62193.0,62076.0,62837.0,68910.0,67306.0,67365.0
10355,Yield/Carcass Weight,79986.0,202,1080,5424,80000.0,80000.0,80000.0,80000.0,80000.0,...,80000.0,80000.0,79970.0,80045.0,80030.0,80029.0,80059.0,79943.0,80000.0,81494.0
10356,Yield/Carcass Weight,498085.0,147,1089,5424,0.0,0.0,0.0,0.0,0.0,...,500000.0,500000.0,500000.0,501190.0,497727.0,500455.0,497471.0,500667.0,500619.0,500693.0

# 8) Which of these elements had the 3rd lowest sum in 2018?

# Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [24]:
food.groupby(["Element"], sort=False)["Y2018"].min()

Element
Area harvested                     0.0
Yield                             10.0
Production                         0.0
Stocks                             2.0
Prod Popultn                       NaN
Laying                             3.0
Producing Animals/Slaughtered      0.0
Yield/Carcass Weight              60.0
Milk Animals                     143.0
Name: Y2018, dtype: float64

In [25]:
food.groupby(["Element"], sort=False)["Y2018"].sum().min()

0.0

# 9) What is the total Import Quantity in Algeria in 2018?

In [26]:
import quantities as pq

q = pq.Quantity(food["Y2018"])
q

array([ 35626.,  16059.,  57213., ...,  33670.,  67805., 228299.]) * dimensionless

In [27]:
q = pq.Quantity(food["Y2018"]).sum()
q

array(nan) * dimensionless

In [45]:
food[food['Area'] == 'Algeria']["Y2018"].sum()

297950398.0

In [46]:
pq.Quantity(food[food['Area'] == 'Algeria']["Y2018"]).sum()

array(nan) * dimensionless

# 10) What is the total number of unique countries in the dataset?

In [29]:
area_counts = food.groupby("Area", as_index=False)['Area Code'].count()
area_counts

                                Area  Area Code
0                            Algeria        347
1                             Angola        225
2                              Benin        245
3                           Botswana        186
4                       Burkina Faso        249
5                            Burundi        220
6                         Cabo Verde        184
7                           Cameroon        332
8           Central African Republic        222
9                               Chad        212
10                           Comoros        156
11                             Congo        242
12                     Côte d'Ivoire        297
13  Democratic Republic of the Congo        279
14                          Djibouti        107
15                             Egypt        416
16                 Equatorial Guinea        113
17                           Eritrea        178
18                          Eswatini        202
19                          Ethiopia        370
20                      Ethiopia PDR        292
21                             Gabon        177
22                            Gambia        158
23                             Ghana        270
24                            Guinea        230
25                     Guinea-Bissau        203
26                             Kenya        416
27                           Lesotho        128
28                           Liberia        188
29                             Libya        260
30                        Madagascar        367
31                            Malawi        318
32                              Mali        324
33                        Mauritania        183
34                         Mauritius        242
35                           Morocco        455
36                        Mozambique        262
37                           Namibia        194
38                             Niger        282
39                           Nigeria        276
40                            Rwanda        262
41                           Réunion        255
42             Sao Tome and Principe        162
43                           Senegal        289
44                        Seychelles        136
45                      Sierra Leone        212
46                           Somalia        201
47                      South Africa        374
48                       South Sudan        252
49                             Sudan        274
50                    Sudan (former)        254
51                              Togo        241
52                           Tunisia        385
53                            Uganda        235
54       United Republic of Tanzania        350
55                            Zambia        232
56                          Zimbabwe        379